<div class="hero">
    <div class="container">

        <div class="row ">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h2>Welcome to Starbucks ordering system</h2>
        <%  if (!session.authenticated) { 
        %>
                <h4>If you are a first time user, please register an account to start order your drink. If you already register, please login to you account.</h4>
                <a href="/user/register" class="btn btn-default">Resgister</a>
        
                <a href="/user/login" class="btn btn-primary">Login</a>
        <%  }
        %>
        <%  if (session.authenticated) { 
        %>
                <h4>Please proceed to coffee page to place your order.</h4>

                <a href="/coffee" class="btn btn-default">Choose your coffee</a>
        <%  }
        %>

                

            </div>
            
        </div>
    </div>
</div>