<!DOCTYPE html>
<html>
  <head>
    <title>Starbuck kopiweb</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round:400italic' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/main.css">
    <!--STYLES END-->
  </head>

  <body>
    <header class="clearfix">
        <a class="pull-left" href="/"><img class="logo" src="/images/logo.png" alt=""></a>
    <%  if (session.authenticated) { 
    %>  
        <ul class="list-inline pull-left">
            <li>Welcome <%= session.user.name %></li>
        </ul>
    <%  } 
    %>

        <ul class="list-inline pull-right">
    <%  if (session.authenticated) { 
    %>
    <%  if (session.user.hasOrdered) { 
    %>
            <li><a href="/user/order">Your order</a></li>
    <%  } 
    %>
    <%  if (session.user.admin) { 
    %>
            <li><a href="/order">View orders</a></li>
            <li><a href="/user">View users</a></li>
    <%  } 
    %>
            <li><a href="/user/logout">Logout</a></li>
    <%  } 
    %>
    <%  if (!session.authenticated) { 
    %>
            <li><a href="/user/register">Register</a></li>
            <li><a href="/user/login">Login</a></li>
    <%  } 
    %>
        </ul>

    </header>
    <%- body %>
    
    <footer>
      
    </footer>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!--SCRIPTS-->
    <script src="/linker/js/dependencies/sails.io.js"></script>
    <script src="/linker/js/dependencies/jquery.js"></script>
    <script src="/linker/js/dependencies/bootstrap.js"></script>
    <script src="/linker/js/dependencies/jquery.validate.js"></script>
    <script src="/linker/js/gmaps.js"></script>
    <script src="/linker/js/main.js"></script>
    <script src="/linker/js/validation.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
